---
layout: default
---

{% if page.author %}
  {% assign author = site.authors[page.author] %}

  <div class="author">
    <div class="author-data">
      <div class="author-name">by <a href="{{ author.web }}">{{ author.display_name }}</a></div> 
      <div class="author-social">
        <a class="gplus" href="https://plus.google.com/{{ author.gplus }}?rel=author">Google+</a>
        -
        <a class="twitter" href="https://twitter.com/{{ author.twitter }}">Twitter</a>
      </div>
    </div>          
    <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=60">
  </div>
{% endif %}

<h2>{{ page.title }}</h2>

<p class="meta">{{ page.date | date_to_string }}</p>

<div id="page">
  {{ content }}
</div>
</div>